* {
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #3d3b39;
}

.app_box {
    border: solid red 1 px;
    width: 70%;
    margin: 10% auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: teal;
}

nav a {
    width: 100%;
    color: white;
    padding: 15px;
    font-family: sans-serif;
    text-align: center;

}

main {
    background-color: white;
    min-height: 500px; /*ta bort när har innehåll*/
    border-radius: 10px;
    padding: 30px;
}

main h1 {
    color: teal;
}

.workout_box {
    background-color: teal;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    color: white;
    
}

form {
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

form input{
    margin:10px;
}

.user {
    margin: 3px;
    font-size: 0.8em;
}

.add_exercise {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.workout_heading {
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
